*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --primary-color:#0f172a;
    --primary-color-dark: #e91a1a;
    --secondary-color: #faf9fe;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --white: #ffffff;
    --max-width:1200px ;
}
body{
    background: linear-gradient(90deg, var(--text-light)0%, var(--text-light)30%, var(--secondary-color)30%, var(--secondary-color)100%);
}

.contactUs{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactUs .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.contactUs .title h2{
    color: var(--text-dark);
    font-weight: 500;
}

.contact{
    padding: 40px;
    background-color: #faf9fe;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map" ;
    grid-gap: 20px;
    margin-top: 20px;
}

.form{
    grid-area: form;
}

.info{
    grid-area: info;
}

.map{
    grid-area: map;
}

.contact h3{
    color: #444;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.formBox{
    position: relative;
    width: 100%;
}

.formBox .row50{
    display: flex;
    gap: 20px;

}

.inputBox{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 10px;
}

.formBox .row100 .inputBox{
    width: 100%;
}

.inputBox span{
    color: var(--primary-color);
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input{
    padding: 10px 15px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid #333;
}

.inputBox textarea{
    padding: 10px 15px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
}

.inputBox input[type="submit"]{
    background: #e91a1a;
    color: var(--white);
    border: none;
    font-size: 1.1rem;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
    
}

.inputBox::placeholder{
    color: #999;
}

.info{
    background-color: var(--text-dark);
}

.info h3{
    color: #fff;
}

.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p{
    color: #fff;
    font-size: 1.1em;
}

.info .infoBox div a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.sci{
    margin-top: 40px;
    display: flex;
}

.sci li{
    list-style: none;
    margin-right: 15px;
}

.sci li a{
    color: #ccc;
    font-size: 2rem;
}

.sci li a:hover{
    color: #fff;
}

.contact.map {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden; /* Ensure the iframe does not overflow its container */
}

.map iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0; /* Remove iframe border */
}

.back-to-main {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #e91a1a; /* Change the background color to your preference */
    color: #fff; /* Change the text color to your preference */
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

.back-to-main:hover {
    background-color: #e91a1a; /* Change the hover background color to your preference */
}
/* Cursor */
.cursor-dot{
    width: 5px;
    height: 5px;
    background-color: transparent;
}

.cursor-outline{
    width: 25px;
    height: 25px;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.cursor-dot,
.cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}

/* Media Queries */
@media(max-width:991px){
    body{
        background-color: var(--secondary-color);
    }
    .contactUs{
        padding: 20px;
    }
    .box{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map";
    }
    .map{
        min-height: 300px;
    }
    .formBox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox{
        width: 100%;
    }
    .contact{
        padding: 30px;
    }
}

@media(max-width:450px){
    .back-to-main{
        font-size: 20px;
    }

    .title h2{
       margin-left: 40px;
       font-size: 40px;
    }

    .contact{
        width:350px;
    }
}